Repository xlcnd/isbnlib-loc, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, test, core

create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: none

fix plugin's metadata
  isbnlib_loc/__init__.py
Labels: core

fix download url
  setup.py
Labels: repo

fix download url
  setup.py
Labels: repo

set ON release mode
  .appveyor.yml
  .travis.yml
  CHANGES.txt
Labels: repo

add master to CI
  .appveyor.yml
  .travis.yml
Labels: repo

fix py version on appveyor
  .appveyor.yml
Labels: repo

release 1.0.1
  CHANGES.txt
Labels: repo

init v1.0.2
  .appveyor.yml
  .travis.yml
  CHANGES.txt
  isbnlib_loc/__init__.py
Labels: repo, core

drop support for py35
  .appveyor.yml
  .travis.yml
  tox-dev.ini
  tox.ini
Labels: repo

fix py version
  .gitignore
  .travis.yml
Labels: repo

fix py version
  .appveyor.yml
Labels: repo

simplify project
  .appveyor.yml
  .github/workflows/create-release.yaml
  .gitignore
  .travis.yml
  README.rst
  SECURITY.md
  requirements-appveyor.in
  requirements-appveyor.txt
  tox.ini
Labels: repo

[qabot] update reqs
  requirements-dev.txt
Labels: repo

require isbnlib-3.10.9+
  setup.py
Labels: repo

require isbnlib-3.10.9+
  requirements.txt
Labels: repo

switch to pytest
  .github/workflows/basictests.yml
  CONTRIBUTING.md
  isbnlib_loc/test/test_metadata.py
  requirements-dev.in
  requirements-dev.txt
  setup.cfg
  tox-dev.ini
  tox.ini
Labels: repo, test

switch to pytest
  CONTRIBUTING.md
Labels: repo

switch to pytest
  setup.py
Labels: repo

switch to pytest
  setup.cfg
Labels: repo

switch to pytest
  CHANGES.txt
Labels: repo

switch to pytest
  .gitignore
  release.md
Labels: repo

release 1.0.2
  CHANGES.txt
Labels: repo

init v1.0.3
  CHANGES.txt
  isbnlib_loc/__init__.py
  release.md
Labels: repo, core

simplify project
  .editorconfig
  .gitignore
  .project
  .style.yapf
  .yamllint
Labels: repo

simplify project
  setup.cfg
Labels: repo

simplify project
  tox-dev.ini
Labels: repo

add install instructions
  README.rst
Labels: repo

[qabot] add dependabot
  .github/dependabot.yml
Labels: none

add 'py3.10' to 'basictests'
  .github/workflows/basictests.yml
Labels: none

[qa] update
  requirements-dev.txt
Labels: repo

[qabot] update reqs
  requirements-dev.txt
Labels: repo

.github/labeler.yml:

repo:
  - ./*

test:
  - isbnlib_loc/test/*

core:
  - isbnlib_loc/*
